<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>TV Shows</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <span class="h1 mb-0 navbar-brand">TV Shows</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/shows">All Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shows/new">Add a Show</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-3">
                    <h5 class="card-header">Add a New Show</h5>
                    <div class="card-body">
                        <form action="/shows" method="post">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title:</label>
                                <input type="text" name="title" id="title" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="genre" class="form-label">Genre:</label>
                                <input type="text" name="genre" id="genre" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description:</label>
                                <textarea name="description" id="description" class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="rating" class="form-label">Rating:</label>
                                <input type="number" name="rating" id="rating" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="release_date" class="form-label">Release Date:</label>
                                <input type="date" name="release_date" id="release_date" class="form-control">
                            </div>
                            <div class="d-flex justify-content-end">
                                <input type="submit" value="ADD SHOW" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>