<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <title>The Vinyl Countdown</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <div class="container">
        <a class="navbar-brand" href="#">The Vinyl Countdown</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/albums">All Albums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/albums/new">Add an Album</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <h5 class="card-header">ALBUM DETAILS</h5>
            <div class="card-body">
              <h5 class="card-title mb-3">{{ album.title }}</h5>
              <p class="card-text mb-2">
                <strong>Artist:</strong>
                {{ album.artist }}
              </p>
              <p class="card-text mb-2">
                <strong>Description:</strong>
                {{ album.description }}
              </p>
              <p class="card-text mb-2">
                <strong>Owned:</strong>
                {{ 'Yes' if album.is_owned else 'No' }}
              </p>
              {% if album.songs|length > 0 %}
                <p class="card-text mb-2">
                  <strong>Songs:</strong>
                  {% for song in album.songs %}
                    {{ song.title }}{{ ', ' if not loop.last else '' }}
                  {% endfor %}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h5 class="card-header">ADD A SONG</h5>
            <div class="card-body">
              <form action="/songs/{{ album.id }}" method="post">
                <input type="hidden" name="album_id" value="{{ album.id }}">
                <div class="mb-3">
                  <label for="title" class="form-label">Title:</label>
                  <input
                    type="text"
                    name="title"
                    id="title"
                    class="form-control"
                  />
                </div>
                <div class="d-flex justify-content-end">
                  <input
                    type="submit"
                    value="ADD SONG"
                    class="btn btn-primary"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
