<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <title>Dad Jokes</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <div class="container">
        <a class="navbar-brand" href="/jokes">Dad Jokes</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/jokes">All Jokes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/jokes/new">Add a Joke</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/dads/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Dad Joke Details</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-4">Setup</div>
                <div class="col-8">{{ joke.setup }}</div>
              </div>
              <div class="row">
                <div class="col-4">Punchline</div>
                <div class="col-8">{{ joke.punchline }}</div>
              </div>
              <div class="row">
                <div class="col-4">Uploaded By:</div>
                <div class="col-8">{{ joke.dad.username }}</div>
              </div>
              <div class="row">
                <div class="col-4">Date Created:</div>
                <div class="col-8">{{ joke.created_at }}</div>
              </div>
            </div>
            {% if joke.dad_id == session.dad_id %} 
            <div class="card-footer d-flex justify-content-end">
              <a class="btn btn-sm btn-warning me-2" href="/jokes/{{ joke.id }}/edit">Edit</a>
              <a class="btn btn-sm btn-danger" href="/jokes/{{ joke.id }}/delete">Delete</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
